$blue-color: #0b3b60;
.app-sign-up {
  @apply w-full h-full flex flex-col items-center justify-center;
  .app-form {
    @apply p-4 max-w-sm;

    button {
      @apply text-base font-bold w-full;
    }
    
    .btn-submit {
      background-color: $blue-color !important;
      color: #fff;
      padding: 24px !important;
    }

    .invalid{
      opacity: 0.5;
    }

    .signin-link-area {
      @apply w-full underline text-center;
      color: $blue-color;
    }
  }
}
