.app-layout {
  .header {
    height: 56px;
    .spacer {
      flex: 1 1 auto;
    }
    .mat-toolbar {
      background-color: #0b3b60;
      color: #fff;
    }
  }

  .content {
    @apply container mx-auto;
    height: calc(100vh);
  }

  .margin-top {
    height: calc(100vh - 56px) !important;
    // margin-top: 56px !important;
  }
}

@media (min-width: 600px) {
  .app-layout {
    .header {
      height: 64px;
    }
    .content {
      height: calc(100vh);
    }

    .margin-top {
      height: calc(100vh - 64px) !important;
      // margin-top: 64px !important;
    }
  }
}
