<div class="app-layout">
  <div class="header" *ngIf="showHeader">
    <mat-toolbar>
      <button
        *ngIf="showBackButton"
        mat-icon-button
        aria-label="Botão para voltar para a home"
        class="px-3"
        (click)="goBack()"
      >
        <fa-icon [icon]="['fas', 'chevron-left']"></fa-icon>
      </button>
      <span class="ml-4">{{ title }}</span>
      <span class="spacer"></span>
      <button
        mat-icon-button
        aria-label="Menu com as opções da aplicação"
        [matMenuTriggerFor]="menu"
      >
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <ng-container *ngFor="let item of itemsMenu">
          <a
            *ngIf="item.path; else logoutButton"
            mat-flat-button
            mat-menu-item
            [routerLink]="item.path"
          >
            {{ item.description }}
          </a>

          <ng-template #logoutButton>
            <a mat-flat-button mat-menu-item (click)="logout()">
              {{ item.description }}
            </a>
          </ng-template>
        </ng-container>
      </mat-menu>
    </mat-toolbar>
  </div>
  <div class="content" [ngClass]="showHeader ? 'margin-top' : ''">
    <ng-content></ng-content>
  </div>
</div>
