.app-layout {
  .header {
    height: 56px;
    .spacer {
      flex: 1 1 auto;
    }
    .mat-toolbar {
      background-color: #0b3b60;
      color: #fff;
    }
  }

  .content {
    @apply container mx-auto;
    height: calc(100vh - 56px);
  }
}

// .active {
//   background-color: #0b3b60 !important;
//   color: #fff !important;
// }

// ::ng-deep .mat-mdc-menu-content {
//   background-color: red !important;
//   padding: 0px !important;
// }
