<div class="app-list-expansion-panel-area">
  <div class="list-items" *ngFor="let listItems of listItemsExpansionPanel">
    <div class="title-list-area">
      <h3 class="title-list">{{ listItems.title }}</h3>
      <img
        src="assets/logo-list.svg"
        alt="Logo da med voll utilizado para estilizar o titulo da lista de medicos"
      />
    </div>
    <!-- prettier-ignore -->
    <div class="list-items-area list">
      <app-item-expansion-panel 
        [items]="listItems.items"
        (edit-button-clicked)="onEditButtonClicked($event)"
        (deactivate-button-clicked)="onDeactivateButtonClicked($event)"
      ></app-item-expansion-panel>
    </div>
  </div>
</div>
